@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  box-sizing: border-box;
}
/* (TODO comprobar esto despues)
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}*/

html {
  height: 100vh;
}

body {
  overflow: hidden;
  height: 100%;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.dropdownShadow{
  box-shadow: 0 5px 8px -2px rgba(0,0,0,.25), 0 1px 2px rgba(0,0,0,.3);
}
.topTabs a
{
  padding: 10px 5px;
  min-width: 3rem;
  text-decoration: none;
  cursor: pointer;  
  font-size: 14px;
}
.dropdownLinks
{
  width: 100%;
}
.dropdownLinks:hover
{
  background-color: #614ba6;
  color: white;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
